.position {
  display: flex !important;
  justify-content: space-between !important;
  position: fixed;
  max-width: 786px;
  width: 100%;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.749) !important;
}
