.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 92vh;
}

.description,
.title {
  text-align: center;
  font-weight: bolder;
  background-color: rgba(117, 117, 117, 0.34);
  font-size: 20px;
  color: rgba(245, 245, 245, 0.728);
}

.description {
  bottom: 30px;
}
